@font-face {
  font-family: "iconfont"; /* Project id 2800081 */
  src: url('iconfont.woff2?t=1631172112398') format('woff2'),
       url('iconfont.woff?t=1631172112398') format('woff'),
       url('iconfont.ttf?t=1631172112398') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shizhong:before {
  content: "\e74f";
}

.icon-auto:before {
  content: "\e6eb";
}

.icon-bussiness-man:before {
  content: "\e6ef";
}

.icon-code:before {
  content: "\e6f2";
}

.icon-rising:before {
  content: "\e703";
}

.icon-favorites-fill:before {
  content: "\e721";
}

.icon-loudou:before {
  content: "\e610";
}

